<span *ngIf="authService.user | async">
  <!-- Welcome {{ (authService.user | async)?.email }}! -->
  <app-header></app-header>
  <app-navigation></app-navigation>

</span>

<div *ngIf="!(authService.user | async)">
  <h2 class="login">Log in Form</h2>
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
